<div class="row" align="left" class="col-md-8">
    <div class="col-md-8">
        <h2>Manage Parties</h2>
        </div>
    </div>

<div class="row" align="left" class="col-md-8">
                <div class="col-md-4">
            <h3>Parties</h3>
                    <div style="width: 200px;height:200px; overflow-y:scroll">
                        <ul ng-repeat="party    in	parties">
                            <li>
                                <input type="checkbox" value="{{party.name}}" ng-model="party.isChecked">{{party.name}}<br/>
                                <ul>
                                    <li class="LIST-GROUP-ITEM" ng-repeat="member in party.members">
                                        {{member}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col-md-4">

            <h3>Adjectives</h3>
                <div style="width: 200px;height:200px; overflow-y:scroll">
                <ul ng-repeat="word    in	words">
                    <li>{{word.word}}</li>
                </ul>
                    </div>
            </div>
</div>
<br/>
<div class="row" align="left" class="col-md-8">

    <input type="text" ng-model="model.text">
    <br/><br/>

    <input type="submit" value="Add Party" class="btn btn-primary"  ng-click="AddParty()">
    <input type="submit" value="Add Person to selected Party" class="btn btn-primary"  ng-click="AddPerson()">
    <input type="submit" value="Add Adj. to Search By" class="btn btn-primary"  ng-click="AddWord()">

</div>

</div>
